
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.marquette {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 80%;
    width: 40%;
}
.Free {
    background-color: #ffffff;
    color: #000;
    border-radius: 12px;
    height: 400px;
    width: 260px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Pro {
    background-color: #1f2943;
    color: #ffffff;
    border-radius: 12px;
    height: 400px;
    width: 260px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);  
}
.top{
    padding: 13px 9px 0 20px;
}
.bottom{
    padding: 13px 9px 0 20px;
}
.Free ul{
    color: #1f2943e8;
}
.Pro ul{
    color: #ffffffda;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
}
.btm {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.btn button{
    padding: 8px 40px;
    border-radius: 30px;
    background-color: #1f2943;
    color: #ffffff;
    border: #1f2943;
}

.btm button{
    padding: 8px 50px;
    border-radius: 30px;
    color: #1f2943;
    background-color: #ffffff;
    border: #ffffff;
}
h1{
    font-size: 2rem;
    margin-bottom: 60px;
    margin-left: 15px;
}
p{
    margin-top: -20px;
    margin-left: 15px;
}
h3{
    margin-left: 15px;
}
li{
    margin-bottom: 5px;


}

ul{
    margin-top: 20px;
    list-style: none;
}
.bottom p{
    color: #ffffff99;
}
.top p{
    color: #1f2943a3;
}
i{
    padding-right: 12px;
    
}